<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.dk.mp.ydyx">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.dk.mp.ydyx.activity.WelDoActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="welstu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dk.mp.ydyx.activity.MoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dk.mp.ydyx.activity.RemarkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dk.mp.ydyx.activity.StudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dk.mp.ydyx.activity.StudentInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dk.mp.ydyx.activity.WelStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dk.mp.ydyx.activity.WelMoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.dk.mp.ydyx.activity.DatePickActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
